<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mahmouddev.trainingprojectapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrainingProjectApp">
        <activity android:name=".lecture_thirteen.BottomNavActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".lecture_eleven.ViewPager2Activity">

        </activity>
        <activity android:name=".lecture_eleven.TabActivity"></activity>
        <activity android:name=".lecture_eleven.BasicActivity" />
        <activity android:name=".lecture_ten.ContextMenuActivity" />
        <activity android:name=".lecture_ten.MenuActivity" />
        <activity android:name=".lecture_eight.StudentDetailsActivity" />
        <activity android:name=".lecture_eight.AllStudentActivity" />
        <activity android:name=".lecture_eight.LoginActivity" />
        <activity android:name=".SharedPrefActivity" />
        <activity android:name=".RecycleViewActivity" />
        <activity android:name=".ImplicitActivity" />
        <activity android:name=".DetailsActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>